/* You can add custom styles here. */

// @import "plugins/numbered";
h1,h2,h3,h4,h5,h6 {
    font-size: 1.0625rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 10px
}

@media screen and (max-width: 479px) {
    h1,h2,h3,h4,h5,h6 {
        -webkit-hyphens:auto;
        -ms-hyphens: auto;
        hyphens: auto
    }
}

h1,h2 {
    font-family: scala-sans,lato,Arial,sans-serif;
    font-weight: 700
}

h1 {
    font-size: 2.22822rem
}

h2 {
    font-size: 1.7408rem
}

h3 {
    font-size: 1.36rem
}

h4 {
    font-size: 1rem
}

h5,h6 {
    font-size: 0.85rem
}

.tiu-logo {
    display: inline-block;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap
}

.tiu-logo--horizontal {
    -ms-flex-direction: row;
    flex-direction: row;
    white-space: auto
}

.tiu-logo__mark {
    display: inline-block;
    vertical-align: middle;
    -ms-flex: auto;
    flex: auto
}

@media screen and (min-width: 940px) {
    .tiu-logo__mark {
        width:220px;
        height: 56px
    }
}

.tiu-logo__payoff {
    display: none;
    -ms-flex: auto;
    flex: auto;
    position: relative;
    top: 1px;
    margin: 10px 20px
}

@media screen and (min-width: 940px) {
    .tiu-logo__payoff {
        display:inline-block;
        vertical-align: middle;
        margin-bottom: 0
    }

    .tiu-logo--horizontal .tiu-logo__payoff {
        margin-top: 0
    }
}

.tiu-logo--figurative .tiu-logo__mark {
    display: none
}

.tiu-logo--figurative .tiu-logo__payoff {
    display: inline-block
}

@media screen and (max-width: 1199px) {
    .tiu-logo--figurative .tiu-logo__payoff {
        width:190px;
        height: 17px
    }
}

@media screen and (min-width: 940px) {
    .tiu-logo--figurative .tiu-logo__mark {
        display:inline-block
    }

    .tiu-logo--figurative .tiu-logo__figurative-mark {
        display: none
    }
}

.book-brand {
    border-bottom: 1px solid #ddddd8;
}

.book-brand, .book-search, .book-title {
    margin: -1rem;
    padding: 1rem;
    background-color: white;
    text-align: center;
    margin-bottom: 1rem;
}

.book-menu nav {
    border-right: 1px solid #ddddd8;
}

.book-menu nav ul li a, .book-menu nav ul li span {
    transition: all .15s ease;
    position: relative;
    display: block;
    padding: 0px 0px 0px 10px;
    line-height: 1.17;
    color: #036;
}

.book-menu nav ul li a:focus, .book-menu nav ul li a:hover {
    color: #000;
    text-decoration: none;
}

.book-menu a.collapsed::after {
    margin-left: 20px;
}

button {
    background-color: #986b23;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    font-family: lato, Arial, sans-serif;
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.77;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    box-shadow: inset 0 -1px rgba(0, 0, 0, .2), 0 1px 2px rgba(0, 0, 0, .2);
    color: #fff;
    fill: #fff;
    background-color: #006094;
    transition: all .15s ease;
    position: relative;
    margin-right: 15px;
    padding-right: 11px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size:1.0625rem
}

button:last-of-type {
  margin-right: 0;
}

button:focus, button:hover {
    background-color:#b38130
}

button:disabled, button:disabled:focus, button:disabled:hover {
    background-color:rgba(152, 107, 35, .5)
}

button:disabled {
    cursor: not-allowed;
    opacity:.5
}

button:focus, button:hover {
    text-decoration:none
}

button svg {
    display: inline-block;
    vertical-align:baseline
}

button svg:first-child {
    margin-right:10px
}

button svg:last-child {
    margin-left:10px
}

button svg:first-child:last-child {
    margin:0
}

button:focus, button:hover {
    color: #000;
    fill: #000;
    background-color:#008ec6
}

button:disabled, button:disabled:focus, button:disabled:hover {
    color: hsla(0, 0%, 100%, .5);
    fill: hsla(0, 0%, 100%, .5);
    background-color:rgba(0, 96, 148, .5)
}

button:after {
    bottom:0
}

button:after, button:before {
    content: "";
    transition: all .15s ease;
    transform: translateX(100%);
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    border-color: transparent transparent transparent #006094;
    border-width: 0 0 9px 9px;
    border-style:solid
}

button:before {
    bottom: 0;
    bottom: 1.33px;
    z-index:2
}

button:after {
    z-index: 1;
    border-left-color:#004d76
}

button:focus, button:hover {
    transition: all .15s ease;
    position: relative;
    margin-right: 15px;
    padding-right:11px
}

button:focus:after, button:hover:after {
    bottom:0
}

button:focus:last-of-type, button:hover:last-of-type {
    margin-right: 0;
}

button:focus:after, button:focus:before, button:hover:after, button:hover:before {
    content: "";
    transition: all .15s ease;
    transform: translateX(100%);
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    border-color: transparent transparent transparent #008ec6;
    border-width: 0 0 9px 9px;
    border-style:solid
}

button:focus:before, button:hover:before {
    bottom: 0;
    bottom: 1.33px;
    z-index:2
}

button:focus:after, button:hover:after {
    z-index: 1;
    border-left-color:#00729e
}
